<mat-toolbar color="primary">
    <mat-toolbar-row>
    <mat-icon class="mr-4">building</mat-icon>
      <span>TMS</span>
        <a routerLink="/dashboard/admin" class="mx-4"> Admin Dashboard </a>
        <a routerLink="/dashboard/teacher" class="mx-4"> Teacher </a>
        <a routerLink="/dashboard/head" class="mx-4"> Head </a>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar-row>

</mat-toolbar>