.container {
    display: flex;
    justify-content: center;

    .card {
        padding: 25px;
        margin-top: 10%;
        width: 40%;

        .card-content{
            margin-top: 15px;

            .input {
                width: 100%;
            }
            button{
                width: 100%;
            }
        }
    }
}